---
export interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
	heroImage?: {
			src: string;
			alt: string;
		};
}

import { Img } from "astro-imagetools/components";

const {heroImage, title, description, publishDate, url } = Astro.props as Props;
---

<article class="flex flex-col font-semibold text-white w-72">
 
		<header class="w-64 mt-8 mr-4">
			{heroImage && (
				<Img
 				width={256}
				height={128}
				src={heroImage.src}
				alt={heroImage.alt}
				attributes={{ img: { class: "z-0 mx-auto grayscale" } }}
				layout="fill"
				loading="auto"
				/>
				)}
				
			 
		
	</header>
 
	<div class="flex-1 w-64 -mt-2 border-b border-l border-r border-gray-600 rounded-b-md">
		<a class="line-clamp-3" href={url}><span class="z-0 block w-64 h-24 p-4 pt-5 line-clamp-3 ">{title}</span></a>
	</div>
	

 
</article>
