<header class="wrapper">
	<!-- <nav>
		<a href="/">
			 
				 
			<span>My Blog</span>
		</a>
	</nav> -->

	<div class="bg-indigo-900 py-6 md:py-12 w-full">
		<div class="container px-4 mx-auto">
	
		  <div class="text-center max-w-2xl mx-auto">
			<h1 class="text-3xl md:text-4xl font-extrabold mb-2 text-indigo-100">
	
				<a href="/">
				  Programmable browser.com
				</a>
				
	
			</h1>
			<div class='    '>Snippets and code to run playwright, the headless browser
	
			</div>
			</div>
		  </div>
		  </div>
</header>

<style>
 
</style>
